<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Examination Division - University of Moratuwa</p>
    </div>
    <!-- /.container -->
</footer>
</body>