<!DOCTYPE html>
<html lang="en">

<head>
    <title>Examination Division - University of Moratuwa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>

        body {
            font-family: "Arial", sans-serif;
        }

        .sidenav {
            width: 250px;
            z-index: 1;
            top:50px;
            left: 100px;
            background: #eee;
            overflow-x: hidden;
            padding: 8px 0;

        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #2196F3;
            display: block;
            border-style: solid;
            border-width: 1px;
            margin-right: 33px;
        }

        .sidenav a:hover {
            color: #064579;
        }

        .main {
            margin-left: 140px; /* Same width as the sidebar + left position in px */
            font-size: 28px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding:10px;
        }

        #notice_bar1{
            background: #eee;
            top:50px;
            margin:0px;
        }

        #upcoming_events{
            background: #2196F3;
            padding:10px;
            margin:0px;
        }

        #para{
            background: #c4c4c4;
            padding:10px;
        }

        #notification_sidebar{
            left:1000px;
        }

        #notices{
            background: #2196F3;
            padding:10px;
            margin:0px;
        }

    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/logged">Examination Division</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/logged">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Logout
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <!--fixed side bar -->
            <div class="sidenav">
                <img src="https://www.fhi.ox.ac.uk/wp-content/uploads/oxford-university-logo-borders.png" alt="logo" style="width:150px;height:150px;" >
                <ul style="list-style-type:none">
                    <li><a href="/registerStudent">Register New Student</a></li>
                    <li><a href="/registerModule">Register Modules</a></li>
                    <li><a href="/registerLecturer">Register Lecturers</a></li>
                    <li><a href="/setCalendar">Set TimeTable</a></li>
                    <li><a href="/viewStudents">View Students</a></li>
                    <li><a href="/viewDepartments">View Modules</a></li>
                    <li><a href="/viewLecturers">View Lecturers</a></li>
                    <li><a href="/viewCalendar">View Exam Timetable</a></li>

                </ul>
            </div>
        </div>