<!DOCTYPE html>
<html lang="en">

<head>
    <title>Examination Division - University of Moratuwa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



    <! google fonts>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <! font-awesome>
    <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet"  type='text/css'>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
        .sidenav {
            width: 250px;
            z-index: 1;
            top:50px;
            height: 200%;
            left: 100px;
            background: #eee;
            overflow-x: hidden;
            padding: 8px 0;
        }
        .sidenav a {
            margin-right: 33px;
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #2196F3;
            display: block;
            border-style: solid;
            border-width: 1px;
        }
        .sidenav a:hover {
            color: #064579;
        }
        .main {
            margin-left: 140px; /* Same width as the sidebar + left position in px */
            font-size: 28px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding:10px;
        }


    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/logged">University of Moratuwa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Logout
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--sidenav-->
<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <div class="sidenav">
                <img src="http://www.coursemaster.lk/wp-content/uploads/2014/08/484258_216944238425537_2046733636_n.jpg" alt="logo" style="width:150px;height:150px;" >
                <ul style="list-style-type:none">

                    <li><a href="#">Module Registration</a></li>
                    <li><a href="#">Upload Marks</a></li>
                    <li><a href="#">Update Attendance</a></li>
                    <li><a href="#">Approve Recorrection Request</a></li>

                </ul>
            </div>
        </div>
        <!--main-->
        <div class="col-sm-9" >
            <h2 class="mt-4">Examination Division</h2>
            <h5>Module Registration</h5>
            <hr>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title bg-info">My Modules</h4>
                    <p class="card-text">CS2012 : Object Oriented Programming</p>

                </div>
            </div>


        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom" >
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Examination Division - University of Moratuwa</p>
        </div>
        <!-- /.container -->
    </footer>

