<%include partials/headerAdmin.ejs%>

        <div class="col-sm-6">
            <h2>Departments</h2>
            <div class="table">
               <ul>
                   <li><a href="/viewModules/CSE">Computer Science & Engineering</a></li>
                   <li><a href="/viewModules/ME">Mechanical Engineering</a></li>
                   <li><a href="/viewModules/ENTC">Electronics & Telecommunication Engineering</a></li>
                   <li><a href="/viewModules/CE">Civil Engineering</a></li>
                   <li><a href="viewModules/SEM1">Semester 1</a></li>
               </ul>
            </div>

        </div>



    </div>
</div>
<!-- Footer -->
<%include partials/footer.ejs%>